/* Import design tokens */
@import "./tokens.css";

/* Import PrismJS theme */
@import "prismjs/themes/prism.css";

/* Import component styles */
@import "../components/Heading.css";
@import "../components/Button.css";
@import "../components/Callout.css";
@import "../components/Card.css";
@import "../components/CardGrid.css";
@import "../components/Collapser.css";
@import "../components/CodeBlock.css";
@import "../components/Typography.css";
@import "../components/Link.css";

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
